@import "keyframes.scss";
@import "../sass/variables.scss";

.aboutPage {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .about {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
    text-decoration: underline;
    color: rgb(0, 0, 94);
  }

  .topSection,
  .bottomSection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .topSection {
    background: linear-gradient(
        180deg,
        rgba(150, 105, 97, 0.67) 0%,
        rgba(2, 0, 76, 0.84) 100%
      ),
      url("../assets/house.jpg") no-repeat center center / cover;
  }

  .bottomSection {
    background: linear-gradient(
        180deg,
        rgba(150, 105, 97, 0.67) 0%,
        rgba(2, 0, 76, 0.84) 100%
      ),
      url("../assets/house2.jpg") no-repeat center center / cover;
    margin-top: 40px;
  }

  .topContent,
  .bottomContent {
    text-align: center;
    color: $digi--color--text--secondary;
    max-width: 900px;
    padding: 40px;
    opacity: 0;
    animation: fadeIn 0.6s ease-in-out forwards;

    h1,
    h2 {
      color: $digi--color--text--secondary;
      font-size: 35.2px;
      margin-bottom: 24px;
      animation: fadeIn 0.6s ease-in-out forwards;
    }

    p {
      font-size: 28.8px;
      line-height: 1.6;
      margin-bottom: 40px;
      animation: fadeIn 0.6s ease-in-out forwards;
      animation-delay: 0.5s;
    }
  }
  .topContent {
    animation-delay: 0.5s;
  }

  .bottomContent {
    animation-delay: 1.2s;
  }
}

@media only screen and (min-width: 390px) and (max-width: 760px) { 

  .aboutPage {

    .about {
      font-size: 30px;
    }

    .topSection {
      height: 600px;
    }
    .bottomSection {
      height: 700px;
    }
    
    .topContent, .bottomContent {
      h1, h2 {
        font-size: 25.6px;
      }

      p { 
        font-size: 20.8px;
      }
    }
  }

}