@import "../sass/variables.scss";

.latestAdsHeading {
  margin-bottom: 1em;
}
.showRecentAdsContainer {
  position: relative;

  .adCard {
    padding: 1.5em;
    background-color: $digi--color--background--primary;

    .digi-typography {
      background-color: $digi--color--background--primary;
    }

    .addressSection {
      display: flex;
      gap: 0.5em;
    }
  }
}
