.adCard {
  padding: 1.5em;
  background-color: var(--digi--color--background--primary);

  .container {
    .latestAdsHeading {
      margin-bottom: 0.5em;
    }
    .showRecentAdsContainer {
      position: relative;
      margin-bottom: 19.2px;

      .addressSection {
        display: flex;
        gap: 0.5em;
      }

      .bookMarkRecentAds {
        cursor: pointer;
        width: 32px;
        bottom: 1.5em;
        right: 1.5em;
        position: absolute;
      }
    }
  }
}
