.bookMarkRecentAds {
  cursor: pointer;
  width: 32px;
  bottom: 1.5em;
  right: 1.5em;
  position: absolute;

  .savedText {
    position: absolute;
    bottom: 0;
    right: 2.5em;
  }
}


@media only screen and (min-width: 390px) and (max-width: 760px) {

 .bookMarkRecentAds {
  width: 25px;
 }
 }