.digi-button {
  --digi--button--color--background--primary--default: #e05762;
  --digi--button--color--text--primary--default: white;
}

.digi-button.digi-button--variation-primary {
  background-color: var(--digi--button--color--background--primary--default);
  color: var(--digi--button--color--text--primary--default);
}
