.digi-button {
  --digi--button--color--background--primary--default: #e05762;

  --digi--link--button--color--background--primary--default: #e05762;

  --digi--button--color--text--primary--default: white;

  --digi--button--color--background--secondary--default: black;

  --digi--button--color--text--primary--default: #ffffff;
  --digi--button--color--text--secondary--default: #ffffff;
  --digi--icon--color: red;
  --COLOR--BACKGROUND--ACTIVE: rgb(0, 96, 128);
  --COLOR--ICON--DEFAULT: rgb(22, 185, 213);
}

.digi-button.digi-button--variation-primary {
  background-color: var(--digi--button--color--background--primary--default);
  color: var(--digi--button--color--text--primary--default);
}

.digi-button__icon
  .digi-button__icon--secondary.sc-digi-button
  .sc-digi-button-s {
  background-color: var(--COLOR--ICON--DEFAULT);
}
.applyLink {
  text-decoration: none;
}

.digi-link-button.digi-link-button--primary a {
  background-color: transparent;
  background-color: #e05762;
}

.digi-link-button.digi-link-button--primary .digi-link-button__text {
  color: #ffffff;
}

.sc-digi-link-button-s a {
  border-color: black;
}
