.digi-button {
  --digi--button--color--background--primary--default: #e05762;
  --digi--link--button--color--background--primary--default: #e05762;
  --digi--button--color--text--primary--default: white;
  --digi--button--color--background--secondary--default: white;
  --digi--button--color--text--primary--default: #ffffff;
  --digi--button--color--text--secondary--default: #000000;
  --COLOR--BACKGROUND--HOVER: green;
  --digi--icon--color: red;
  --COLOR--BACKGROUND--ACTIVE: rgb(255, 255, 255);
}

.digi-button.digi-button--variation-primary {
  background-color: var(--digi--button--color--background--primary--default);
  color: var(--digi--button--color--text--primary--default);
}

.digi-button.digi-button--variation-secondary {
  background-color: var(--digi--button--color--background--secondary--default);
  color: var(--digi--button--color--text--secondary--default);
}

.digi-button .digi-button--variation-primary:hover {
  background-color: var(--COLOR--BACKGROUND--HOVER);
  color: aqua;
}
/*
.sc-digi-button-h .digi-button--variation-secondary.sc-digi-button {
}

*/

.applyLink {
  text-decoration: none;
}

.digi-link-button.digi-link-button--primary a {
  background-color: transparent;
  background-color: #e05762;
}

.digi-link-button.digi-link-button--primary .digi-link-button__text {
  color: #ffffff;
}

.sc-digi-link-button-s a {
  border-color: var(--digi--color--text--link);
}

.sc-digi-link-button-s a:hover {
  border-color: var(--digi--color--text--link-hover);
}
