@import "../sass/variables.scss";

.carouselWrapper {
  position: relative;
  width: 110%;
  overflow: hidden;

  .suggestedAdsCardContainer {
    display: flex;
    gap: 20px;
    width: 90%;
    transition: margin-left 0.5s ease;
    padding-top: 1em;
    border-top: solid 1em $digi--color--border--secondary;

    .suggestedAdsCard {
      position: relative;
      width: 350px;
      padding: 1.5em;
      text-wrap: wrap;
      background-color: $digi--color--background--primary;
      height: 300px;

      .digi-typography {
        background-color: $digi--color--background--primary;
      }

      &:hover {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        transform: translateY(-5px);
      }
    }

    .leftCarouselButton,
    .rightCarouselButton {
      background-color: $digi--color--background--secondary;
      opacity: 0.7;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: none;
      position: absolute;
      bottom: 5%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .leftCarouselButton:hover,
    .rightCarouselButton:hover {
      opacity: 1;
    }

    .rightCarouselButton {
      right: 10px;
    }

    .leftCarouselButton {
      left: 10px;
    }

    .arrowIcon {
      width: 50%;
      height: 50%;
      opacity: 0.8;
    }
  }

  .scroll-0 {
    margin-left: 0;
  }

  .scroll-1 {
    margin-left: -85.8%;
  }
  .scroll-2 {
    margin-left: -171.5%;
  }
}

@media only screen and (min-width: 390px) and (max-width: 760px) {
  .carouselWrapper {
    width: 100%;
    h2 {
      font-size: 15px;
    }
    .suggestedAdsCardContainer {
      width: 350%;

      .rightCarouselButton, .leftCarouselButton {
        width: 60px;
        height: 60px;
        bottom: 20%;
      }

      .suggestedAdsCard {
        width: 250px;
        height: 350px;
      }
    }
    .scroll-0 {
      margin-left: 0;
    }
    .scroll-1 {
      margin-left: -65%;
    }
    .scroll-2 {
      margin-left: -140%;
    }
    .scroll-3 {
      margin-left: -210%;
    }
    .scroll-4 {
      margin-left: -200%;
    }

    
  }
}