.checkBoxSection {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 30%;
  padding: 1em;
  background-color: $digi--color--background--primary;
}

@media only screen and (min-width: 390px) and (max-width: 760px) {

  .checkBoxSection {
    width: 100%;
    text-align: center;
  }

 }