.extendedAdContainer {
  padding: 3.5em;
  display: flex;
  justify-content: space-between;
  background-color: var(--digi--color--background--primary);

  .extendedAdCard {
    background-color: var(--digi--color--background--primary);

    .qualificationSection {
      width: 100%;
    }
  }

  .contactSection {
    width: 50%;
    min-height: 400px;
    max-height: 500px;
    .locationSection {
      padding-top: 1.5em;
      max-width: 50%;
    }
  }
}

ul {
  list-style-position: inside;
}
