.extendedAdContainer {
  padding: 3.5em;
  display: flex;
  background-color: var(--digi--color--background--primary);

  .extendedAdCard {
    background-color: var(--digi--color--background--primary);

    .qualificationSection {
      width: 100%;
    }

    .locationSection {
      padding-top: 1.5em;
      max-width: 50%;
    }
  }

  .contactSection {
    width: 50%;
    height: 300px;
  }
}

ul {
  list-style-position: inside;
}
