@import "../sass/variables.scss";

.header {
  background-color: $digi--color--background--tertiary;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  .logoWrapper {
    display: flex;
    align-items: center;
  }

  .logoImg {
    width: 70px;
    height: 70px;
    object-fit: contain;
  }
  ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    align-items: center;
    margin-right: 48px;
    font-size: 20px;

    .list {
      font-weight: bold;
      padding: 20px 20px;

      a {
        color: $digi--color--text--secondary;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: $digi--color--text--link-hover;
        }
      }

      .star {
        position: relative;
        stroke: white;
        width: 23px;
      }

      .badge {
        position: absolute;
        top: 35px;
        right: 75px;
        background-color: green;
        color: $digi--color--text--secondary;
        border-radius: 50%;
        font-size: 12px;
        font-weight: bold;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .sc-digi-icon-star-reg:hover {
        color: $digi--color--text--link-hover;
      }
    }
  }
}

.sc-digi-logo {
  display: none;
}

.sc-digi-logo-h .digi-logo__system-name.sc-digi-logo {
  text-decoration: underline;
  text-decoration-color: $digi--color--text--decoration;
}

#text {
  text-decoration: none;
}
