.header {
  background-color: var(--digi--color--background--tertiary);
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 100;

  ul {
    list-style-type: none;
    margin: 0;
    margin-right: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;

    .logo-img {
      width: 60px;
      height: 50px;
      position: absolute;
      top: 0;
      left: 0;
      margin: 20px;
      cursor: pointer;
    }

    .list {
      text-decoration: none;
      font-weight: bold;
      padding: 10px 15px;

      .star {
        position: relative;
        stroke: white;
        width: 23px;
      }
      .badge {
        position: absolute;
        top: 35px;
        right: 85px;
        background-color: green;
        color: white;
        border-radius: 50%;
        font-size: 12px;
        font-weight: bold;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      a {
        color: white;
        &:hover {
          color: var(--digi--color--text--link-hover);
        }
      }
    }
  }
}

.footer {
  padding: 2em;
  color: white;
  text-align: center;
  background-color: #0d0040;

  p {
    font-size: 14px;
  }
}
