@import "../sass/variables.scss";

.searchFormContainer {
  display: flex;
  width: 600px;

  .digi-form-label__label--label {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 390px) and (max-width: 760px) {
  
  .searchFormContainer{
    width: 350px;
  }
}