/*TYPOGRAPHY*/
$digi--global--typography--font-size--base: 1rem;
$digi--margin--h1-large: 2rem;
$digi--margin--h2-large: 1.5rem;
$digi--margin--h3-large: 0.5rem;

/*BAKGRUNDSFÄRGER*/
$digi--color--background--primary: #ffffff;
$digi--color--background--secondary: #eaeaea;
$digi--color--background--tertiary: #0d0040;

/*LÄNK FÄRGER*/
$digi--color--text--link: rgb(17, 0, 168);
$digi--color--text--link-hover: #ff8001;
$digi--color--text--link-visited: rgb(101, 58, 255);
/*TEXT FÄRGER*/
$digi--color--text--primary: black;
$digi--color--text--secondary: rgb(255, 255, 255);
$digi--icon--color: black;

/*BORDERS*/
$digi--color--border--primary: white;
$digi--color--border--secondary: #0d0040;

/*BUTTONS */
$digi--button--color--background--primary--default: #e05762;
$digi--link--button--color--background--primary--default: #e05762;
$digi--button--color--text--primary--default: white;
$digi--button--color--background--secondary--default: white;
$digi--button--color--text--primary--default: #ffffff;
$digi--button--color--text--secondary--default: #000000;
$digi--link--button--color--text--primary--default: white;
$COLOR--BACKGROUND--HOVER: green;
$digi--icon--color: red;
$COLOR--BACKGROUND--ACTIVE: rgb(255, 255, 255);

/*DECORATIONS*/
$digi--color--text--decoration: #ff8001;
