@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css";
@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import "../src/sass/variables.scss";

:root {
  font-family: "Open Sans", sans-serif;
  font-size: $digi--global--typography--font-size--base;
  color: $digi--color--text--primary;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: $digi--color--text--link;
}

a:hover {
  color: $digi--color--text--link-hover;
}

a:visited {
  color: $digi--color--text--link-visited;
}

body {
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: $digi--color--background--secondary;
  main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 4em 4em 2em 4em;
    justify-content: space-between;
  }
}


@media only screen and (min-width: 390px) and (max-width: 760px) {

  body {

    main {
      padding: 60px 20px 20px 20px;
    }
  }

}