@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css";
@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css";

:root {
  line-height: 1.5;
  font-weight: 400;

  /*LAYOUT*/
  --digi--typography--heading-1--font-size--desktop: 2rem;
  --digi--margin--h1-small: 1rem;
  --digi--typography--body--font-size--desktop: 1rem;
  /*FONTER*/
  --digi--global--typography--font-size--base: 1rem;
  /*FÄRGER*/
  --digi--color--background--primary: #fafafa;
  --digi--color--background--secondary: #eaeaea;
  --digi--color--background--tertiary: #0d0040;
  --digi--color--text--link: rgb(17, 0, 168);
  --digi--color--text--link-hover: #ff8001;
  /*TEXT FÄRGER*/
  --digi--color--text--primary: black;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: var(--digi--color--text--link-hover);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--digi--color--background--secondary);
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 4em 4em 2em 4em;
  justify-content: space-between;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--digi--color--text--link-hover);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
