@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css";
@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  /*LAYOUT*/
  --digi--typography--heading-1--font-size--desktop: 2rem;
  --digi--margin--h1-small: 1rem;
  /*FONTER*/
  --digi--typography--body--font-size--desktop: 1rem;
  --digi--global--typography--font-size--base: 1rem;
  --digi--typography--heading-1--line-height--desktop: 1.5;
  /*FÄRGER*/
  --digi--color--background--primary: #fafafa;
  --digi--color--background--secondary: #eaeaea;
  --digi--color--background--tertiary: #0d0040;
  --digi--color--text--link: rgb(17, 0, 168);
  --digi--color--text--link-hover: #ffa041;
  /*TEXTFÄRGER*/
  --digi--color--text--link-hover: #ff8001;
  /*TEXT FÄRGER*/
  --digi--color--text--primary: black;
  --digi--icon--color: black;

  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: var(--digi--color--text--link);
}

a:hover {
  color: var(--digi--color--text--link-hover);
}

body {
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--digi--color--background--secondary);
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 4em 4em 2em 4em;
  justify-content: space-between;
}
