@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css";
@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
}

main {
  flex: 1;
  padding: 20px;
  margin-top: 80px;
}

.header {
  background-color: #0d0040;
  color: white;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}

.header ul {
  list-style-type: none;
  margin: 0;
  margin-right: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.list a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
}

.list a:hover {
  color: #ff8001;
}

.logo-img {
  width: 60px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0d0040;
  color: white;
  padding: 20px;
  text-align: left;
  width: 100%;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.info-cards-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 30px;
  margin: 0 20px;
}

.infoCard {
  flex: 1 1 300px;
  max-width: 400px;
}

.infoCard:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: translateY(-5px);
}

.searchForm-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  margin: 0 20px;
}

.card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h2 {
  font-size: 1.5rem;
  color: #0d0040;
  margin-bottom: 10px;
}

.card h2:hover {
  color: #ff8001;
}

.card p {
  color: #555555;
  margin: 10px 0;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.lunchImg {
  max-width: 100%;
  height: auto;
}
